*{
    margin: 0px;
    font-family: "Inter";  
}
 #title-one{
    margin-left: 100px;
    font-size: 50px;
    font-weight: 600;
    padding-top: 180px;

    
 }
 #title-two{
    font-size: 20px;
    font-weight: 500;
    margin-left: 100px;
    padding-top: 20px;
}
#frameBlack{
     background-color: #303030;
     color: #FFFFFF;   
     height: 450px;
}
#head{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    margin-left: 150px;
    margin-top: 70px;
}

#head-2{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    margin-top: 180px;
}
#Text-one{
    margin-left: 60px;
    margin-top: 190px;
    font-size: 38px;
}
#Text-two{
    width: 715px;
    height: 160px;
    font-size: 23px;
    font-weight: 500;
    margin-left: 60px;
}

#imgProjeto{
    width: 510px;
    height: 605px;
    margin-left: 20px;
   
}
.card{
    box-shadow: 20px 20px 10px gray;
    border-radius: 10px;
}
#finalform{
    background-color: #303030;
    height: 638px;
    margin-top: 80px;
    align-items: center;
    text-align: center;
}
#texttitle{
    color: #FFFFFF;
    font-size: 32px;
    font-family: 'Inter';
    font-weight: 700;  
    padding-top: 80px;
}
input{
    width: 450px;
    height: 75px;
    background-color: #FFFFFF;
    border-radius: 9px;
    border: 0px;
    margin: 30px;
    color: rgba (0, 0, 0, 0.3);
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 700;
    padding-left: 25px;  
}
button{
    background-color: #c07212;
    width: 280px;
    height: 74px;
    margin: 40px;
    border-radius: 10px;
    border:  0px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}
button:hover{
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #a3a19e;

}





   
    